<section class='movies-section'>
{{#with cinema}}
  <h2>Showtimes for {{name}}</h2>
  <p>
    {{address}},
    {{city}}
    {{zipcode}}
  </p>
  <p>{{../movies.length}} films are showing at {{name}}.</p>
  {{> favouriteCinema cinema=this liked=liked}}
  <ul>
    {{#each member_cards}}
      <li data-code='{{code}}'>
        {{label}}
      </li>
    {{/each}}
  </ul>
{{/with}}

<nav>
  {{> moviesFilters label='sur le' urls=calendarUrls}}
  {{> moviesFilters label='à partir de' urls=hoursUrls}}
</nav>

<div class='movies'>
  {{#each movies}}
    <div class='movie overlay-container expander-container'>
      {{> movieHeading movie=movie}}
      {{> movieShowtimes showtimes=showtimes}}
    </div>
  {{/each}}
</div>
</section>