<section>
  <h2>Your saved screenings</h2>
  <div class='calendar'>
    {{#each calendarByDay}}
      <div class='calendar-date'>
        <h2 class='calendar-head'>
          {{date calendarDate}}
        </h2>

        <div class='movies'>
          {{#each showtimes}}
            <div class='movie overlay-container expander-container calendar-entry' data-showtime="{{ _id }}">
              <div class='movie-heading'>
                <h3>
                  {{movie.title}}
                </h3>
                {{ cinema.name }}
              </div>
              <div class='movie-showtime'>
                <p>
                  {{time startTime}}
                </p>
              </div>
              <div class="overlay">
                <button class="remove-from-calendar" data-showtime="{{ _id }}">
                  Remove
                </button>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</section>